.jumbotron {
  padding-top: 6rem;
  background-color: #adb5bd;
}

#projects {
  background-color: #adb5bd;
}

#about {
  background-color: #273036;
  color: white;
}

#contact {
  background-color: #273036;
  color: white;
}

section {
  padding-top: 5rem;
}
